*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Hide scroll bar */
}
.bar{
    background-color: black;
    position: fixed;
    width: 100%;

}
.name {

    color: white ;
    font-weight: 500;
    font-family: "Times New Roman"
}
.name:hover{
    color: white;
    font-weight: 700;
}
#home{
    text-decoration: none;
color: white;
margin-left: 50px;
    
}
#home:hover{
    text-decoration: underline;
    font-weight: bolder;
}
.link{
    color: aliceblue;
    margin-left: 50px;
}
.link:hover{
        color: white;
    text-decoration: underline;
    font-weight: bolder;
}
#dropdown{
    color: white;
    margin-left: 50px;
}
#dropdown:hover{
    color: white;
    font-weight: bolder;
}
.dropdownmenu{
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    margin-left: 50px;
}
.option{
    color: white;
}
.option:hover{
    background-color: rgb(168, 169, 170);
    border-radius: 10px;
}
.searchbtn{
    color: rgb(7, 194, 4);
    border-radius: 20px;
}
.searchbtn:hover{
    background-color:rgb(7, 194, 4) ;
    color: white;
}
#intro{
    float:left;
}
img{
    float: right;
    height: 300px;
    margin-right: 100px;
    border-radius: 400px;
}
.image{
    margin-top: 130px;
    animation-delay: 1.3s;
}
.main{
    padding: 1%;
}
.HOME{
    height: 575px;
    width: 100vw;
    background-color: rgb(1, 35, 79);
    padding-top: 1px;

}

.intro p{
    color: white;
    font-size: large;
    font-weight: 600;
    font-family: Arial;
    margin-top: 15px;
    
}
.intro{
    height: 50px;
    width: 150px;
    background-color: #874F36;
    margin-top: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;   
}
h4{
    margin-left: 205px;
    color: rgb(182, 181, 181);
    font-size: small;
    margin-top: 6px;
    animation-delay: 0.8s;
    


}
h3{
    color: rgb(182, 181, 181);
    margin-left: 170px;
    animation-delay: 1.3s;
}
.linkdin{
    color: white;
    font-size: 30px;
    margin-left: 170px;
    margin-top: 30px;
    cursor: pointer;
}
.instagram{
    color: white;
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer; 
}
.github{
    color: white;
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer;    
}
.twitter{
    color: white;
    font-size: 30px;
    margin-left: 25px;
    cursor: pointer;
}
.linkdin:hover{
    color: rgb(134, 133, 133);
}
.instagram:hover {
    color: rgb(134, 133, 133);
}
.github:hover {
    color: rgb(134, 133, 133);
}
.twitter:hover{
    color: rgb(134, 133, 133);
}
.socialmediapost{
    /* height: 700px; */
    height: 100%;
    width: 100vw;
    background-color: #1D546C;
}
.socialmediapost h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans';
    font-weight: bolder;
    padding-top: 20px;
}
.row{
    margin-top: 60px;
}
.img1{
    border-radius: 0px;
    margin-top: 10px;
}
.img2{
    border-radius: 0px;
    margin-top: 30px;
    }
    .logo{
    /* height: 700px; */
    height: 100%;
    width: 100vw;
    background-color: #83c3eb;
}
.logo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans';
    color: white;
    font-weight: bolder;
    padding-top: 20px;
}